p class="text-error" = notice  
= simple_form_for(:session, :url => sessions_path) do |f| 


 = f.input :email, placeholder: 'Email', label: false, input_html: {type: 'email', autofocus: 'autofocus'}
 = f.input :password, placeholder: 'Пароль', label: false
 = f.button :submit, 'Войти'

b 'New user? ' 
= link_to 'Sign up now!', signup_path