| <!doctype html> 
html
    head
        meta charset="utf-8"
        meta content="width=(device-width,)initial-scale=1.0" name="viewport"
        title = content_for?(:title) ? yield(:title) : "Myapp"
        meta content="" name="description"
        meta content="" name="author"
        script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js'
        script type='text/javascript' src='/js/jquery.validate.min.js' 
        = stylesheet_link_tag "application", media: "all"
        = javascript_include_tag "application"
        = javascript_include_tag "jquery.fancybox-1.3.4"
        = javascript_include_tag "jquery-easing.1.4.pack.js"
        = javascript_include_tag "jquery.jcarousel.min.js"
        = javascript_include_tag "bootstrap.min.js"
        = javascript_include_tag "bootstrap.js"
        = csrf_meta_tags
        = yield :head
        
    body
        header.navbar.navbar-fixed-top
            nav.navbar-inner
                .container
                    a class="brand" href="#" DS
                    .navbar-content
                        - if signed_in?
                            ul class="nav"
                                li 
                                    a href=url_for(@current_user) = @current_user.email
                          
                                li
                                    a href="/signout" Выход
                                    
                            ul class="nav pull-right"
                                li 
                                    a href="/cart" Корзина(#{@current_user.cart.products.count})

                                li 
                                    a href="/account" Кабинет

                                - if @current_user.role == "admin"
                                    li 
                                        a href="/admin" Админ
                                    
                        - else
                            ul class="nav"
                                li
                                    a href="/signup" Регистрация
                                li    
                                    a href="/signin" Вход  

                            ul class="nav pull-right"
                                li 
                                    - if ! cookies[:cart_id].nil? 
                                        - cart = Cart.find cookies.signed[:cart_id]
                                        a href="/cart" Корзина(#{cart.products.count})
                            
    #main role="main"
        .container-fluid
            .row-fluid style="width: 75%; margin: 0 0 0 11%"
                .span2
                    ul class="nav nav-tabs nav-stacked"
                        li 
                            a href="/users" Пользователи
                        li 
                            a href="/product_categories/1/products" Товары
                        li 
                            a href="#" Ссылка 2

                    = categories_for
                .span10
                    .well
                        = yield
                footer
