h1 Listing product_categories

table
  tr
    th
    th
    th

  - @product_categories.each do |product_category|
    tr
      td = product_category.name
      td = link_to 'Show', product_category
      td = link_to 'Edit', edit_product_category_path(product_category)
      td = link_to 'Destroy', product_category, :confirm => 'Are you sure?', :method => :delete

br

= link_to 'New Product category', new_product_category_path
