p#notice = notice
h4 = "Корзина пользователя " + current_user.email.to_s
br Была обнаружена ранее собранная корзина. Пожалуйста, сделайте выбор.

br
br
/--------------------------------------------------

br

form method="post" action="/cart"
	.row-fluid
		.span6
			.well
				label class="radio"
					input type="radio" name="options" id="options1" value="1" 
						h4 Старая корзина
				- @products.each do |product|
					li
						= product.name
					br
		.span6
			.well
				label class="radio"
					input type="radio" name="options" id="options2" value="2" 
						h4 Корзина, которую Вы собрали недавно
				- @products_from_cookies.each do |product|
					li
						= product.name
					br
	br
	table class="table"
        tr 
            th align="middle" 
                p align="center"
                    button type="submit" class="btn"  Выбрать
            

	