javascript:
    // запрос сборщику
    var request;

    // сборщик через вебсокет
    function sendRequest() {
        $('#shipping_method').html('<img src="/assets/circular_progress_bar.gif" /><span />');
        var socket = new WebSocket("ws://localhost:8888/load_shipping_methods");

        socket.onopen = function() { 
            console.log("Соединение установлено");
            socket.send(JSON.stringify(request));
        };

        socket.onclose = function(event) { 
            if (event.wasClean) {
                console.log('Соединение закрыто чисто');
            } else {
                console.log('Обрыв соединения'); // например, "убит" процесс сервера
            }
            console.log('Код: ' + event.code + ' причина: ' + event.reason);
        };
         
        socket.onmessage = function(event) {
            console.log("Получены данные " + event.data);
            var message = JSON.parse(event.data);

            switch (message.type) {
                case "info":
                    $('#shipping_method span').text(message.data);
                    break;

                case "result":
                    switch (message.status) {
                        case "success":
                            var shipping_methods = JSON.parse(unescape(message.data));
                            var table = $('<table class="table table-striped"><thead><td>Способ доставки</td><td>Стоимость</td><td>Отслеживание посылки</td></thead><tbody /></table>');

                            var tbody = $('tbody', table);
                            for (var i in shipping_methods) {
                                var shipping_method = shipping_methods[i];
                                var tr = $('<tr/>');
                                tr.append($('<td>' + shipping_method.name + '</td>'));
                                tr.append($('<td>' + shipping_method.cost + ' руб.</td>'));
                                tr.append($('<td>' + (shipping_method.tracking == '1' ? '+' : '-') + '</td>'));
                                table.append(tr);
                            }
                            $('#shipping_method').html(table);
                            break;

                        case "error":
                            $('#shipping_method').html('<span class="label label-important">Произошла ошибка при загрузке способов доставки</span><br>' + message.data);
                            break;
                    }
                    break;
            }
            
        };

        socket.onerror = function(error) { 
            console.log("Ошибка " + error.message); 
        };
    }
    // для кнопки "Продолжить покупки"
    function back(product_id, category_id){
    document.location.href = "/product_categories/"+category_id+"/products/"+product_id;
    }        
    // Модальное окно "Рассчитать способы доставки"
    function modal(){
    $('#modal').modal({backdrop:false});
    }
    // Модальное окно "Вход или регистрация"
    function modal2(){ 
    $('#modal2').modal({backdrop:false});
    $('#modal2').css({  
        "width" : 700,   // ширина окна, px  
        "height" : 400 });  // высота окна, px
    }
    
    $(document).ready(function() {
        // Включение/отключение всех чекбоксов
        $("#delete_all").click(function() {
            var checked = $("#delete_all").attr("checked") || false;
            $(".delete_product").attr("checked", checked);
        });
    });

    
p#notice = notice
- if signed_in?
    h4 
        = "Корзина пользователя "
        = link_to current_user.email, current_user
- else 
    h4 Корзина гостя

/--------------------------------------------------

br
- if @cart.products.count == 0
    p.text-info
        h5
            | Уважаемый покупатель!
            | К сожалению, в настоящее время Ваша корзина пуста. 
- else
    br
    table class="table  table-bordered table-condensed info"
        tr bgcolor="#E6E6FA" 
            th width="300px"  
                p align="center"
                    | Название
            th width="100px" 
                p align="center"
                    | Количество
            th width="100px" 
                p align="center"
                    | Цена
            th width="100px" 
                p align="center"
                    | Сумма
            th width="100px" 
                form
                    p align="center"
                        | Убрать 
                        input type="checkbox" id="delete_all"
                     

    form action="/update_qnt" 
        - total_cost = 0
        - cart_info = ''
        - @cart_products.each do |cart_product|
            - id = cart_product.product.id
            - category = cart_product.product.product_categories.last.id
            - image_src = cart_product.product.image_src
            - price = cart_product.product.price
            - quantity = cart_product.quantity
            - ext_id = cart_product.product.ext_id
            - limitation  = cart_product.product.limitation
            - stock = cart_product.product.stock
            - product_provider_id = cart_product.product.product_provider_id 
            - cart_info += "#{ext_id}:{id:#{id}, ext_id:'#{ext_id}', category:#{category}, price:#{price}, qty:#{quantity}, stock:'#{stock}', limitation:'#{limitation}'},"
            
            /.row-fluid
            table class="table table-bordered table-condensed"
                tr.cart_product
                    /.span3
                    td width="40px"
                        p class="fig"
                            a onclick='back(#{id}, #{category})'
                                = image_tag cart_product.product.image_src, width: 50 

                    td width="250px"
                        a onclick='back(#{id}, #{category})'
                            = cart_product.product.name

                    /.span1
                    td width="100px"
                        p align="center"
                            input type="hidden" value="#{quantity}" name="product[#{id}][initial_qty]"
                            input type="number" value="#{quantity}" min=1 name="product[#{id}][updated_qty]" class="input-mini"
                            input type="hidden" value="#{ext_id}" name="product[#{id}][ext_id]"
                            input type="hidden" value="#{limitation}" name="product[#{id}][limitation]"
                            input type="hidden" value="#{stock}" name="product[#{id}][limitation]"
                            

                    /.span2
                    td width="100px"
                        p.text-info align="right"
                            - currency_course = BigDecimal($redis.hget("provider:#{product_provider_id}", "currency_course"))
                            - current_price = (price * currency_course).round
                            = current_price.to_s + " руб."

                    /.span2
                    td width="100px"
                        p.text-info align="right"
                            =  (current_price * quantity).to_s + " руб."
                            - total_cost += (current_price * quantity)

                    /.span2
                    td  width="100px"
                        p align="center"
                            input type="checkbox" name="product[#{id}][deleted]" class="delete_product"



        - if signed_in?
            - user_id = current_user.id
            - email = current_user.email
            - role = current_user.role
            - balance = current_user.balance
            - cart = current_user.cart.id
            - user_info = "id:#{user_id}, email:'#{email}', role:'#{role}', balance:'#{balance}'"

        - else
            - cart = Cart.find(cookies.signed[:cart_id]).id
            - user_info = "cart_id:#{cart}"

        // сбор информации
        script
            = "request = {cart_id: #{cart}, content: {#{cart_info}}, address: {#{user_info}}}"

        
        -if @cart.products.count != 0
            table class="table table-bordered table-condensed info"
                tr bgcolor="#E6E6FA"
                    td width="500px" 
                        button type="submit" id="update" class="btn" Применить
                        
                        // проверяется залогинен или нет. если да, то происходит расчет. если нет,
                        // то предлагается войти/зарегаться

                        -if signed_in?
                            button type="button" class="btn" onclick="sendRequest(), modal()" Рассчитать способы доставки
                        -else
                            button type="button" class="btn" onclick="modal2()" Рассчитать способы доставки
                        
                        - @cart_products = @cart.cart_products.order('updated_at').includes :product
                        - scr_category_id = @cart_products.last.product.product_categories.last.id
                        - src_product_id = @cart_products.last.product_id

                        button type="button" onclick='back(#{src_product_id}, #{scr_category_id})' class="btn" Продолжить покупки
   
                    td width="200px" 
                        span class="label label-info nav"
                            | ВСЕГО К ОПЛАТЕ:
                        span class=" nav pull-right"
                            p.text-info align="right"
                                = total_cost.to_s + " р"  
    

    // Модальные окна

    div id="modal" class="modal hide fade in" style="display: none;"
        div class="modal-header"
            a class="close" data-dismiss="modal" ×
            h2 Расчет способов доставки
        
        div class="modal-body"
            #shipping_method
        
        div class="modal-footer"
            a href="#" class="btn" data-dismiss="modal" Закрыть

    
    div id="modal2" class="modal hide fade in" style="display: none;"
        div class="modal-header"
            a class="close" data-dismiss="modal" ×
            h2 Войдите или зарегистрируйтесь

        div class="modal-body"
            .container-fluid
                .row-fluid
                    .span6
                        .well
                            h5 Зарегистрированный покупатель
                            br
                            = simple_form_for(:session, :url => sessions_path) do |f| 

                                = f.input :email, placeholder: 'Email', label: false, input_html: {type: 'text'}
                                = f.input :password, placeholder: 'Пароль', label: false
                                = f.button :submit, 'Войти'


                    .span6
                        .well
                            h5 Новый покупатель
                            br
                            form action="/signup" method="post"
                                button type="submit" class="btn" Зарегистрироваться
                                input type="hidden" value="1" name="hidden_flag"
                            br
                            br       
