div class="progress progress-striped active"
  div class="bar" style="width: 60%;"

= simple_form_for(@shipping_info) do |f|
  br
  h4 Личные Данные
  = f.input :first_name,   placeholder: 'Имя',                  label: false
  = f.input :last_name,    placeholder: 'Фамилия',              label: false
  = f.input :address,      placeholder: 'Адресс',               label: false
  = f.input :city,         placeholder: 'Город',                label: false
  = f.input :state,        placeholder: 'Область',              label: false
  = f.input :country,      placeholder: 'Страна',               label: false
  = f.input :post_code,    placeholder: 'индекс',               label: false
  = f.input :phone,        placeholder: 'Контактный телефон',   label: false
  .control-group
    .controls
      = f.button :submit, 'Зарегистрировать'