h1 Listing shipping_infos

table
  tr
    th
    th
    th

  - @shipping_infos.each do |shipping_info|
    tr
      td = link_to 'Show', shipping_info
      td = link_to 'Edit', edit_shipping_info_path(shipping_info)
      td = link_to 'Destroy', shipping_info, :confirm => 'Are you sure?', :method => :delete

br

= link_to 'New Shipping info', new_shipping_info_path
