= pagination_links @products

/ после добавления категорий это у меня не завелось
/ = form_tag products_path, method: :get do
/     p
/         = text_field_tag :search, params[:search] 
/         = submit_tag "Search", name: nil

br
              
/ достаем из redis'a текущий курс валюты поставщика в рублях
- currency_course = BigDecimal($redis.hget("provider:#{@category.product_provider_id}", "currency_course"))

/ отображаем товары по 4 в строке
- @products.each_slice(4) do |products|
    .row-fluid 
        - products.each do |product|
            .span3
                .well
                    p class="fig"
                        = link_to (image_tag product.image_src), url_for([@category, product])
                    br
                    = link_to product.name, url_for([@category, product])
                    .row-fluid 
                        .span9
                            h4    
                                = (product.price * currency_course).round.to_s + ' p'
                            b Stock:
                            = product.stock
                        .span1    
                            form action="/add_product/#{product.id}" method="post"
                                button type="submit" id="add_btn" class="btn btn-success" +
                                input type="hidden" value="1" name="hidden"


= pagination_links @products