javascript:
    function formatTitle(title, currentArray, currentIndex, currentOpts) {
        return '<div id="tip-title">' + (title && title.length ? '<b>' + title + '</b>' : '' ) + "<br>" + (currentIndex + 1) + ' из ' + currentArray.length + '</div>';
    }
    
    function alertq(){
        alert('Не реализованно');

    }
    
    function mycarousel_initCallback(carousel) {
        // Disable autoscrolling if the user clicks the prev or next button.
        carousel.buttonNext.bind('click', function() {
            carousel.startAuto(0);
        });

        carousel.buttonPrev.bind('click', function() {
            carousel.startAuto(0);
        });

        // Pause autoscrolling if the user moves with the cursor over the clip.
        carousel.clip.hover(function() {
            carousel.stopAuto();
        }, function() {
            carousel.startAuto();
        });
    };

    jQuery(document).ready(function() {
        jQuery('#mycarousel').jcarousel({
            wrap: 'last',
            initCallback: mycarousel_initCallback
        });
    });

    $(document).ready(function() {
        /*if (jQuery('p.text-info').text() == "Нет в наличии")
            $("#add_btn").attr("disabled","disabled");
        */        
        

        $('.fancy[rel=group]').fancybox({
            'type':'image',
            'showCloseButton' : false,
            'titlePosition' : 'inside',
            'titleFormat' : formatTitle
        });
          
    });



ul id="breadcrumbs-one" margin="0" padding="0" list-style="none"
    li 
        a onclick='alertq()' href="#"Главная 
    li
        a href="/product_categories/#{params[:product_category_id]}/products" 
            = ProductCategory.find(params[:product_category_id]).name + "  " 
    li 
        a href="#" class="current"
            = @product.name
br


- content_for :title do
    = "Товар " + @product.name

.row-fluid
    .span4 aligh="center" 
        -if (@product.product_images.first.image_src != "images/no_image.jpg")
            table class="tablet tablet_bottom_border"  
                tr
                    td
                        p class="fig"
                            = image_tag @product.product_images.first.image_src, width: 225
                      
            ul.thumbnails
                ul id="mycarousel" class="jcarousel-skin-tango"
                    - @product.product_images.each do |image|
                        - img = image_path image.image_src
                        - img_title = @product.name
                        - qwer = image.image_src
                        li
                            a class="fancy" rel="group" title=img_title href=img
                                = image_tag image.image_src
        -else
            table class="tablet"  
                tr
                    td
                        p class="fig"
                            = image_tag @product.product_images.first.image_src, width: 225
                    

    .span6
        
        p.notice = notice

        p
            h4 = @product.name

        p
            b Extid: 
            = @product.ext_id

        p
            - currency_course = BigDecimal($redis.hget("provider:#{@product.product_provider_id}", "currency_course"))
            h2 = (@product.price * currency_course).round.to_s + " руб."

        p.text-info
            - case @product.stock
            - when '+'
                | В наличии
            - when '-'
                - preorder = @product.preorder ? "возможен предзаказ" : "невозможен предзаказ"
                | Нет в наличии (#{preorder})
            - else
                | На складе: #{@product.stock}


        p
            b Оценка: 
            / TODO: переделать в звездочки
            = @product.rating

        p
            b Описание товара на английском языке: 
            == @product.description
        br

        form action="/add_product/#{@product.id}" method="post"
            - if (@product.stock == '-') || (@product.stock == 0)
                button type="submit" id="add_btn" class="btn btn-primary" disabled="disabled" Нет в наличии
                /a id="showblock" onmouseover="alertq()"   (?) 
            - else
                /div id="divblock" class="alert alert-error" style="display:none"
                /    button type="button" class="close" data-dismiss="alert" &times
                button type="submit" id="add_btn" class="btn btn-success" Добавить в корзину