h1 Listing related_products

table
  tr
    th
    th
    th

  - @related_products.each do |related_product|
    tr
      td = link_to 'Show', related_product
      td = link_to 'Edit', edit_related_product_path(related_product)
      td = link_to 'Destroy', related_product, :confirm => 'Are you sure?', :method => :delete

br

= link_to 'New Related product', new_related_product_path
