h1 This is home page!(самая отстойная главная страница)

.row-fluid
	.span
		.well
			h4 Новости/Объявления
			br 
.row-fluid
	.span9
		.row-fluid
			.span
				.well
					h4 Новинки
					br

					
	.span3				
		.row-fluid
			.span
				.well
					h5 обзор1
			.span
				.well
					h5 обзор1
			.span
				.well
					h5 обзор2
			.span
				.well
					h5 обзор3
			.span
				.well
					h5 обзор4
			.span
				.well
					h5 обзор5

	