h1 Listing product_providers

table
  tr
    th
    th
    th

  - @product_providers.each do |product_provider|
    tr
      td = link_to 'Show', product_provider
      td = link_to 'Edit', edit_product_provider_path(product_provider)
      td = link_to 'Destroy', product_provider, :confirm => 'Are you sure?', :method => :delete

br

= link_to 'New Product provider', new_product_provider_path
