= simple_form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      h2 = "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      ul
        - @user.errors.full_messages.each do |message|
          li = message
  br
  h4 Сведения Об Учетной Записи
  = f.input :email,                 placeholder: 'Email',                label: false, input_html: {type: 'email', autofocus: 'autofocus'}
  = f.input :password,              placeholder: 'Пароль',               label: false
  = f.input :password_confirmation, placeholder: 'Подтверждение пароля', label: false
  = f.input :role,                  placeholder: 'роль',                 label: false, :input_html => { :value => 'client'}
  = f.input :balance,               placeholder: 'баланс',               label: false
  /-if @hidden_flag.nil?
  /  h4 fuck
  /-else 
  /  h4 not fuck
  br
  .control-group
    .controls
      = f.button :submit, 'Далее'

