h1 Listing users

=form_tag users_path, :method => 'get' do 
  p
    = text_field_tag :search, params[:search] 
    = submit_tag "Search", :name => nil 
  


table class="table table-striped"
  tr
    th ID
    th Email
    th
    th
    th

  - @users.each do |user|
    tr
      td = user.id
      td = user.email
      td = link_to 'Show', user
      td = link_to 'Edit', edit_user_path(user)
      td = link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

br
= link_to 'New User', new_user_path