.tabbable
  ul class="nav nav-tabs"
    li class="active"
    	a href="#tab1" data-toggle="tab" Основные данные
    li
    	a href="#tab2" data-toggle="tab" Дополнительные
  .tab-content
    div class="tab-pane active" id="tab1" 
	    p	
	    	b Email: 
	    	= @user.email
    	p
			b Encrypted_password: 
			= @user.encrypted_password
		p
			b Role: 
			= @user.role
		p
			b Balance: 
			= @user.balance
    	
	.tab-pane id="tab2"
		p	
			b shipping_info_Id: 
			/= @shipping_info.id
		p	
			b User_id: 
			/= @shipping_info.user_id
		p	
			b First name: 
			/= @shipping_info.first_name
		p
			b Last_name: 
			/= @shipping_info.last_name
		p
			b Address: 
			/= @shipping_info.address
		p
			b City: 
			/= @shipping_info.city
		p
			b State: 
			/= @shipping_info.state
		p
			b Country: 
			/= @shipping_info.country
		p
			b Post code: 
			/= @shipping_info.post_code
		p
			b Phone: 
			/= @shipping_info.phone



= link_to 'Edit', edit_user_path(@user)
'|
= link_to 'Back', users_path